/Memeda_Sln/Business.Common/obj
/Memeda_Sln/Framwork/bin
/Memeda_Sln/Business.Common/bin
/Memeda_Sln/Cn.Memeda.WeixinApp/bin
/Memeda_Sln/Model.Common/bin
/Memeda_Sln/OnlineWeb.Common/bin
/Memeda_Sln/Cn.Memeda.WeixinApp/obj/Debug/*.pdb
/Memeda_Sln/Cn.Memeda.WeixinApp/obj/Debug/*.cache
