@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
 <!-----------内容开始--------------->
<div class="content content_bottom_fix">
    <div class="container">
        <form action="" target="_blank" method="post">
            <span id="car-error-message" class="error-message"></span>
            <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table_login goods_table">
                <tr class="table_border">
                    <td width="21.66666666666667%"><span>收 货 人</span></td>
                    <td><input type="text" class="login_text" id="receiveName" placeholder="请输入收货人名字" /></td>
                </tr>
                <tr class="table_border">
                    <td><span>手机号码</span></td>
                    <td><div class="identi_code">
                        <input type="text" class="login_text goods_span" id="phone_number" value="" />
                            <a href="#" id="btn-car-valid-code" class="btn-car-valid-code-green">发送验证码</a>
                            <a href="javascript:void(0);" id="car-count-down"><span id="car-time"></span><span>秒重新发送</span></a>
                        </div>
                    </td>
                </tr>
                <tr class="table_border" id="car-show-valid-code" style="display:none;">
                    <td><span>验 证 码</span></td>
                    <td><input type="text" class="login_text" id="code" placeholder="请输入验证码" /></td>
                </tr>
                <tr class="table_border">
                    <td><span>城&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;市</span></td>
                    <td><input type="text" class="login_text goods_span" id="receive-city" placeholder="请输入所在城市" /></td>
                </tr>
                <tr>
                    <td><span>详细地址</span></td>
                    <td><input type="text" class="login_text" id="receive-address" placeholder="请输入收货的详细地址" /></td>
                </tr>
            </table>
        </form>
    </div>
    <div class="height_30"></div>
    <div id="car-goods-list">

    </div>
</div>
<div class="footer_trolley">
    <div class="footer_trolley_con">
        <div class="trolley_count">共计<span id="car-goods-total">0</span>件</div>
        <p>￥<i id="car-goods-price">0</i></p>
        <a href="#" class="trolley_next" id="btn-go-pay" value="">下一步 ></a>        
    </div>
</div>
<!-----------内容结束--------------->
<!--30元起送 弹出层-->
<div class="fixed" style="display:none;"></div>
<div class="product_detail" style="display:none;"></div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript" src="/Scripts/shop/car.js"></script>
}
