@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section css{
    }

<div class="content shop-main">
    <div class="stores">
        <div class="container">
            <div class="producter_row nobg">
                <img class="fl shoper_img" id="shop-shopkeeper-image" src="/Content/images/liu_18.png">
                <div class="shoper_mess fl">
                    <p><span class="store_name" id="shop-shopkeeper">王阿姨的店</span><i>配</i></p>
                    <div class="saled_order">
                        <img src="/Content/images/liu_23.png" class="star">
                        <img src="/Content/images/liu_23.png" class="star">
                        <img src="/Content/images/liu_23.png" class="star">
                        <img src="/Content/images/liu_23.png" class="star">
                        <img src="/Content/images/liu_23.png" class="star">
                        已售100单
                    </div>
                    <span id="shop-address">长原菜市场 | 新鲜蔬菜</span>
                </div>
                <div class="distance fl"><p>1.0公里</p></div>
                <div class="clear"></div>
            </div>
        </div>
        <ul class="producter_con_shop" id="shop-goods-list">
            
        </ul>
        <div class="car_shop"><img src="/Content/images/s_27.png"><span>0</span></div>
    </div>
</div>
<!-----------内容结束--------------->

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/shop")
}