@{
    ViewBag.Title = "Info";
    ViewBag.subTitle = "订单信息";
}

<!-----------内容开始--------------->
<div class="content ">
    <div class="order_block container location">
        <div class="store_mess">
            <span class="order_account fr">总计：￥50</span>
            <img src="/content/images/order_03.jpg" class="fl" />
            <p class="fl">张阿姨的蔬菜店</p>
            <div class="clear"></div>
        </div>
        <ul class="order_list_ul">
            <li>
                <img src="/content/images/f1.jpg" class="fl" />
                <div class="order_con fl">
                    <p>有机娃娃菜<i class="fr">￥<font>6.8</font>/份</i></p>
                    <span>X<font>2</font></span>
                    <div class="count_order">小计：￥13.6</div>
                </div>
                <div class="clear"></div>
            </li>
            <li>
                <img src="/content/images/f1.jpg" class="fl" />
                <div class="order_con fl">
                    <p>有机娃娃菜<i class="fr">￥<font>6.8</font>/份</i></p>
                    <span>X<font>2</font></span>
                    <div class="count_order">小计：￥13.6</div>
                </div>
                <div class="clear"></div>
            </li>
        </ul>
    </div>
    <div class="hejght_15"></div>
    <div class="order_block container location">
        <div class="store_mess">
            <span class="order_account fr">总计：￥50</span>
            <img src="/content/images/order_06.jpg" class="fl" />
            <p class="fl">王叔叔肉店 </p>
            <div class="clear"></div>
        </div>
        <ul class="order_list_ul">
            <li>
                <img src="/content/images/f1.jpg" class="fl" />
                <div class="order_con fl">
                    <p>有机娃娃菜<i class="fr">￥<font>6.8</font>/份</i></p>
                    <span>X<font>2</font></span>
                    <div class="count_order">小计：￥13.6</div>
                </div>
                <div class="clear"></div>
            </li>
            <li>
                <img src="/content/images/f1.jpg" class="fl" />
                <div class="order_con fl">
                    <p>有机娃娃菜<i class="fr">￥<font>6.8</font>/份</i></p>
                    <span>X<font>2</font></span>
                    <div class="count_order">小计：￥13.6</div>
                </div>
                <div class="clear"></div>
            </li>
        </ul>
    </div>
    <div class="hejght_15"></div>
    <div class="arrive_time">
        <img src="/content/images/order_12.jpg">
        <p>预计送达时间：</p>
        <span><i>2015.05.15</i>15:00-16:00</span>
    </div>
    <div class="hejght_15"></div>
    <div class="pay_style container">
        支付方式:
        <div class="pay_right">
            <img src="/content/images/order_16.jpg" />
            <span>微信支付</span>
            <a href="#">
                <input type="checkbox" />
            </a>
            <div class="clear"></div>
        </div>
    </div>
    <div class="submit_order">
        <div class="submit_order_con">
            <p>总价：<span>￥100</span></p>
            <input type="submit" value="提交订单" />
        </div>
    </div>
</div>
<!-----------内容结束--------------->
@section scripts{
    <script type="text/javascript" src="/Scripts/common.js"></script>
    <script type="text/javascript" src="/Scripts/windowsheight.js"></script>
    <script src="~/Scripts/template.js"></script>
    <script src="~/Scripts/Index.js"></script>
    <script>
        var index = new IndexPage({
            indexcommuntityUrl: "http://120.24.228.51:8080/20150623/weixin/community/index_community.jhtml"
        });
        index.init();
    </script>
}