@{
    ViewBag.Title = "Info";
    ViewBag.subTitle = "支付结算";
}

<!-----------内容开始--------------->
<div class="content ">


    @*<div id="sendtime" class="arrive_time">
        <img src="/content/images/order_12.jpg">
        <p>预计送达时间：</p>
        <span><i>2015.05.15</i>15:00-16:00</span>
    </div>*@
    <div id="sendtime" class="hejght_15"></div>
    <div class="pay_style container">
        支付方式:
        <div class="pay_right">
            <img src="/content/images/order_16.jpg" />
            <span>微信支付</span>
            <input type="checkbox" checked="checked" />
            <div class="clear"></div>
        </div>
    </div>
    <div class="submit_order">
        <div class="submit_order_con">
            <p>总价：<span id="allprice"></span></p>
            <input type="submit" id="submitorder" value="支付结算" />
        </div>
    </div>
</div>
<!-----------内容结束--------------->
@section scripts{
    <script type="text/javascript" src="/Scripts/common.js"></script>
    <script type="text/javascript" src="/Scripts/windowsheight.js"></script>
    <script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
    <script src="~/Scripts/Index.js"></script>
    <script>
        var index = new IndexPage({
            orderitemurl: "/weixin/member/order/view.jhtml",
            payurl: "/weixin/payment/submit.jhtml"
        });
        index.RegisterOrderInfo();
    </script>
}