@{
    ViewBag.Title = "Home Page";
}
<div class="complex" id="indexcommuntity">
    <a href="@Url.Action("Location","Home")">
        <span>长原小区</span>
        <img src="/Content/images/liu_14.png">
    </a>
</div>
<div class="content browser_content">
    <ul class="product_menu">
        <li>
            <a href="javascript:void(0)" class="now_product" tip="#shop_1">
                <i></i>
                <img src="/content/images/f1.jpg">
                <span>菜场</span>
            </a>
        </li>
        <li>
            <a href="javascript:void(0)" tip="#shop_2">
                <i></i>
                <img src="/content/images/f2.jpg">
                <span>水果</span>
            </a>
        </li>
        <li>
            <a href="javascript:void(0)" tip="#shop_3">
                <i></i>
                <img src="/content/images/f3.jpg">
                <span>小吃</span>
            </a>
        </li>
        <li>
            <a href="javascript:void(0)" tip="#shop_4">
                <i></i>
                <img src="/content/images/f4.jpg">
                <span>超市</span>
            </a>
        </li>
        <div class="clear"></div>
    </ul>
    <div class="shop_group">
        <ul class="producter_con" id="shop_1" style="display:block;">
            <li>
                <div class="producter_row">
                    <a href="stores.html">
                        <img class="fl shoper_img" src="/content/images/liu_18.png">
                        <div class="shoper_mess fl">
                            <p>王阿姨的店<i>配</i></p>
                            <div class="saled_order">
                                <img src="/content/images/liu_23.png" class="star">
                                <img src="/content/images/liu_23.png" class="star">
                                <img src="/content/images/liu_23.png" class="star">
                                <img src="/content/images/liu_23.png" class="star">
                                <img src="/content/images/liu_23.png" class="star">
                                已售100单
                            </div>
                            <span>长原菜市场 | 新鲜蔬菜</span>
                        </div>
                        <div class="distance fl"><p>1.0公里</p></div>
                        <div class="clear"></div>
                    </a>
                </div>
            </li>
            <li>
                <div class="producter_row">
                    <a href="javascript:void(0)">
                        <img class="fl shoper_img" src="/content/images/liu_18.png">
                        <div class="shoper_mess fl">
                            <p>王阿姨的店<i>配</i></p>
                            <div class="saled_order">
                                <img src="/content/images/liu_23.png" class="star">
                                <img src="/content/images/liu_23.png" class="star">
                                <img src="/content/images/liu_23.png" class="star">
                                <img src="/content/images/liu_23.png" class="star">
                                <img src="/content/images/liu_23.png" class="star">
                                已售100单
                            </div>
                            <span>长原菜市场 | 新鲜蔬菜</span>
                        </div>
                        <div class="distance fl"><p>1.0公里</p></div>
                        <div class="clear"></div>
                    </a>
                </div>
            </li>
            <li>
                <div class="producter_row">
                    <a href="javascript:void(0)">
                        <img class="fl shoper_img" src="/content/images/liu_18.png">
                        <div class="shoper_mess fl">
                            <p>王阿姨的店<i>配</i></p>
                            <div class="saled_order">
                                <img src="/content/images/liu_23.png" class="star">
                                <img src="/content/images/liu_23.png" class="star">
                                <img src="/content/images/liu_23.png" class="star">
                                <img src="/content/images/liu_23.png" class="star">
                                <img src="/content/images/liu_23.png" class="star">
                                已售100单
                            </div>
                            <span>长原菜市场 | 新鲜蔬菜</span>
                        </div>
                        <div class="distance fl"><p>1.0公里</p></div>
                        <div class="clear"></div>
                    </a>
                </div>
            </li>
            <li>
                <div class="producter_row">
                    <a href="javascript:void(0)">
                        <img class="fl shoper_img" src="/content/images/liu_18.png">
                        <div class="shoper_mess fl">
                            <p>王阿姨的店<i>配</i></p>
                            <div class="saled_order">
                                <img src="/content/images/liu_23.png" class="star">
                                <img src="/content/images/liu_23.png" class="star">
                                <img src="/content/images/liu_23.png" class="star">
                                <img src="/content/images/liu_23.png" class="star">
                                <img src="/content/images/liu_23.png" class="star">
                                已售100单
                            </div>
                            <span>长原菜市场 | 新鲜蔬菜</span>
                        </div>
                        <div class="distance fl"><p>1.0公里</p></div>
                        <div class="clear"></div>
                    </a>
                </div>
            </li>
            <li>
                <div class="producter_row">
                    <a href="javascript:void(0)">
                        <img class="fl shoper_img" src="/content/images/liu_18.png">
                        <div class="shoper_mess fl">
                            <p>王阿姨的店<i>配</i></p>
                            <div class="saled_order">
                                <img src="/content/images/liu_23.png" class="star">
                                <img src="/content/images/liu_23.png" class="star">
                                <img src="/content/images/liu_23.png" class="star">
                                <img src="/content/images/liu_23.png" class="star">
                                <img src="/content/images/liu_23.png" class="star">
                                已售100单
                            </div>
                            <span>长原菜市场 | 新鲜蔬菜</span>
                        </div>
                        <div class="distance fl"><p>1.0公里</p></div>
                        <div class="clear"></div>
                    </a>
                </div>
            </li>
        </ul>
        <ul class="producter_con" id="shop_2">
            <li>
                <div class="producter_row">
                    <a href="javascript:void(0)">
                        <img class="fl shoper_img" src="/content/images/liu_18.png">
                        <div class="shoper_mess fl">
                            <p>王阿姨的店<i>配</i></p>
                            <div class="saled_order">
                                <img src="/content/images/liu_23.png" class="star">
                                <img src="/content/images/liu_23.png" class="star">
                                <img src="/content/images/liu_23.png" class="star">
                                <img src="/content/images/liu_23.png" class="star">
                                <img src="/content/images/liu_23.png" class="star">
                                已售100单
                            </div>
                            <span>长原菜市场 | 新鲜蔬菜</span>
                        </div>
                        <div class="distance fl"><p>1.0公里</p></div>
                        <div class="clear"></div>
                    </a>
                </div>
            </li>
            <li>
                <div class="producter_row">
                    <a href="javascript:void(0)">
                        <img class="fl shoper_img" src="/content/images/liu_18.png">
                        <div class="shoper_mess fl">
                            <p>王阿姨的店<i>配</i></p>
                            <div class="saled_order">
                                <img src="/content/images/liu_23.png" class="star">
                                <img src="/content/images/liu_23.png" class="star">
                                <img src="/content/images/liu_23.png" class="star">
                                <img src="/content/images/liu_23.png" class="star">
                                <img src="/content/images/liu_23.png" class="star">
                                已售100单
                            </div>
                            <span>长原菜市场 | 新鲜蔬菜</span>
                        </div>
                        <div class="distance fl"><p>1.0公里</p></div>
                        <div class="clear"></div>
                    </a>
                </div>
            </li>
            <li>
                <div class="producter_row">
                    <a href="javascript:void(0)">
                        <img class="fl shoper_img" src="/content/images/liu_18.png">
                        <div class="shoper_mess fl">
                            <p>王阿姨的店<i>配</i></p>
                            <div class="saled_order">
                                <img src="/content/images/liu_23.png" class="star">
                                <img src="/content/images/liu_23.png" class="star">
                                <img src="/content/images/liu_23.png" class="star">
                                <img src="/content/images/liu_23.png" class="star">
                                <img src="/content/images/liu_23.png" class="star">
                                已售100单
                            </div>
                            <span>长原菜市场 | 新鲜蔬菜</span>
                        </div>
                        <div class="distance fl"><p>1.0公里</p></div>
                        <div class="clear"></div>
                    </a>
                </div>
            </li>
            <li>
                <div class="producter_row">
                    <a href="javascript:void(0)">
                        <img class="fl shoper_img" src="/content/images/liu_18.png">
                        <div class="shoper_mess fl">
                            <p>王阿姨的店<i>配</i></p>
                            <div class="saled_order">
                                <img src="/content/images/liu_23.png" class="star">
                                <img src="/content/images/liu_23.png" class="star">
                                <img src="/content/images/liu_23.png" class="star">
                                <img src="/content/images/liu_23.png" class="star">
                                <img src="/content/images/liu_23.png" class="star">
                                已售100单
                            </div>
                            <span>长原菜市场 | 新鲜蔬菜</span>
                        </div>
                        <div class="distance fl"><p>1.0公里</p></div>
                        <div class="clear"></div>
                    </a>
                </div>
            </li>
            <li>
                <div class="producter_row">
                    <a href="javascript:void(0)">
                        <img class="fl shoper_img" src="/content/images/liu_18.png">
                        <div class="shoper_mess fl">
                            <p>王阿姨的店<i>配</i></p>
                            <div class="saled_order">
                                <img src="/content/images/liu_23.png" class="star">
                                <img src="/content/images/liu_23.png" class="star">
                                <img src="/content/images/liu_23.png" class="star">
                                <img src="/content/images/liu_23.png" class="star">
                                <img src="/content/images/liu_23.png" class="star">
                                已售100单
                            </div>
                            <span>长原菜市场 | 新鲜蔬菜</span>
                        </div>
                        <div class="distance fl"><p>1.0公里</p></div>
                        <div class="clear"></div>
                    </a>
                </div>
            </li>
        </ul>
        <ul class="producter_con" id="shop_3">
            <li>
                <div class="producter_row">
                    <a href="javascript:void(0)">
                        <img class="fl shoper_img" src="/content/images/liu_18.png">
                        <div class="shoper_mess fl">
                            <p>王阿姨的店<i>配</i></p>
                            <div class="saled_order">
                                <img src="/content/images/liu_23.png" class="star">
                                <img src="/content/images/liu_23.png" class="star">
                                <img src="/content/images/liu_23.png" class="star">
                                <img src="/content/images/liu_23.png" class="star">
                                <img src="/content/images/liu_23.png" class="star">
                                已售100单
                            </div>
                            <span>长原菜市场 | 新鲜蔬菜</span>
                        </div>
                        <div class="distance fl"><p>1.0公里</p></div>
                        <div class="clear"></div>
                    </a>
                </div>
            </li>
        </ul>
        <div id="shop_4">
            <ul class="producter_con_shop">
                <li>
                    <a href="#">
                        <img src="/content/images/shop_03.jpg" class="fruit_img">
                        <p><span class="fr"><i class="weight">500g</i>/份</span><i>菠菜</i></p>
                        <div class="product_price"><img src="/content/images/car_07.jpg"><i>￥25.5</i><span>￥29.5</span></div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="/content/images/shop_03.jpg" class="fruit_img">
                        <p><span class="fr"><i class="weight">100g</i>/份</span><i>香菜</i></p>
                        <div class="product_price"><img src="/content/images/car_07.jpg"><i>￥25.5</i><span>￥29.5</span></div>
                    </a>
                </li>
                <li>
                    <a href="#" style="border-right-width: 1px; border-right-style: solid; border-right-color: rgb(255, 255, 255);">
                        <img src="/content/images/shop_03.jpg" class="fruit_img">
                        <p><span class="fr"><i class="weight">50g</i>/份</span><i>芹菜</i></p>
                        <div class="product_price"><img src="/content/images/car_07.jpg"><i>￥25.5</i><span>￥29.5</span></div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="/content/images/shop_03.jpg" class="fruit_img">
                        <p><span class="fr"><i class="weight">1000g</i>/份</span><i>白菜</i></p>
                        <div class="product_price"><img src="/content/images/car_07.jpg"><i>￥25.5</i><span>￥29.5</span></div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="/content/images/shop_03.jpg" class="fruit_img">
                        <p><span class="fr"><i class="weight">400g</i>/份</span><i>菠菜</i></p>
                        <div class="product_price"><img src="/content/images/car_07.jpg"><i>￥25.5</i><span>￥29.5</span></div>
                    </a>
                </li>
                <li>
                    <a href="#" style="border-right-width: 1px; border-right-style: solid; border-right-color: rgb(255, 255, 255);">
                        <img src="/content/images/shop_03.jpg" class="fruit_img">
                        <p><span class="fr"><i class="weight">500g</i>/份</span><i>菠菜</i></p>
                        <div class="product_price"><img src="/content/images/car_07.jpg"><i>￥25.5</i><span>￥29.5</span></div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="/content/images/shop_03.jpg" class="fruit_img">
                        <p><span class="fr"><i class="weight">500g</i>/份</span><i>菠菜</i></p>
                        <div class="product_price"><img src="/content/images/car_07.jpg"><i>￥25.5</i><span>￥29.5</span></div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="/content/images/shop_03.jpg" class="fruit_img">
                        <p><span class="fr"><i class="weight">500g</i>/份</span><i>菠菜</i></p>
                        <div class="product_price"><img src="/content/images/car_07.jpg"><i>￥25.5</i><span>￥29.5</span></div>
                    </a>
                </li>
                <li>
                    <a href="#" style="border-right-width: 1px; border-right-style: solid; border-right-color: rgb(255, 255, 255);">
                        <img src="/content/images/shop_03.jpg" class="fruit_img">
                        <p><span class="fr"><i class="weight">500g</i>/份</span><i>菠菜</i></p>
                        <div class="product_price"><img src="/content/images/car_07.jpg"><i>￥25.5</i><span>￥29.5</span></div>
                    </a>
                </li>
                <div class="clear"></div>
            </ul>
            <div class="car_shop"><a href="shopping_trolley.html"><img src="/content/images/s_27.png"><span>1</span></a></div>
        </div>
    </div>
</div>
<!--商品详细信息弹出层-->
<div class="fixed" style="display:none;"></div>
<div class="product_detail" style="display:none;">
    <a href="javascript:void(0)" class="close_detail"></a>
    <div class="product_picture"><img class="" src="/Content/images/f2.jpg"></div>
    <p class="product_name"><span>￥7.9</span><i>光明发酵乳</i></p>
    <div class="shop_intro">
        <div class="shop_name">商家：<span>光明便利店</span></div>
        <div class="weight">规格：<span>135g</span></div>
        <div class="activity">活动：<span>暂无</span></div>
        <div class="add_car">
            <a class="button_add_car" href="#">加入购物车</a>
            <div class="count_group">
                <div class="count_odd"></div>
                <span class="now_count">1</span>
                <div class="count_add"></div>
            </div>
        </div>
    </div>
</div>
<!--商品详细信息弹出层结束-->
@section scripts{
    <script type="text/javascript" src="/Scripts/common.js"></script>
    <script type="text/javascript" src="/Scripts/windowsheight.js"></script>
    <script src="~/Scripts/Index.js"></script>
    <script>
        var index = new IndexPage({
            indexcommuntityUrl: "http://120.24.228.51:8080/20150623/weixin/community/index_community.jhtml",
            communtityListUrl: "http://120.24.228.51:8080/20150623/weixin/community/list.jhtml"
        });
        index.init();
    </script>
}
