@{
    ViewBag.Title = "Location";
    ViewBag.subTitle = "选择地址";

}

<!-----------内容开始--------------->
<div class="content">
    <div class="block_select">
        <form action="" target="_blank" method="post">
            <input type="text" class="login_text container" id="block_input" value="" placeholder="请输入小区名称" />
        </form>
    </div>
    <div class="container location">
        <ul class="block_list" id="locationlist">
            @*<li>
                <p><img src="/Content/images/block_11.png">长原小区</p>
                <span>上海市长宁区江苏路502弄40支弄1-21号</span>
            </li>
            <li>
                <p><img src="/Content/images/block_11.png">敬仰小区</p>
                <span>上海市长宁区江苏路502弄40支弄1-21号上海市长宁区江苏路502弄40支弄1-21号上海市长宁区江苏路502弄40支弄1-21号</span>
            </li>*@
        </ul>
    </div>
</div>
<!-----------内容结束--------------->
@section scripts{
    <script src="~/Scripts/template.js"></script>
    <script type="text/html" id="locationitem">
        {{each content as value i}}
        <li data-id="{{value.id}}">
            <p><img src="/Content/images/block_11.png">{{value.name}}</p>
            <span>{{value.fullName}}</span>
        </li>
        {{/each}}
    </script>
    <script src="~/Scripts/Index.js"></script>
    <script>
        var index = new IndexPage({
            communtityListUrl: "http://120.24.228.51:8080/20150623/weixin/community/list.jhtml"
        });
        index.RegisterLocation();
    </script>
}