@{
    ViewBag.Title = "Test";
}

<h2 style="margin-top: 200px;">Test API</h2>

    url:<input type="url" id="url" value="http://120.24.228.51:8080/20150623/weixin/payment/submit.jhtml" style="width: 600px;font-size: 12px;" /><br /><br />
    post参数:<textarea id="paras" rows="6" cols="50" style="font-size: 12px;">type=payment&paymentPluginId=WeixinpayPlugin&sn=20150630914&amount=100&openid=123456</textarea><br /><br />
<input type="button" id="post" value="Post数据" style="font-size: 1em;" />
<br /><br />
返回结果：<br /><br />
<div id="json" style="font-size: 12px; margin-left: 100px;"></div><br />
@section scripts{
    <script type="text/javascript">
        $(function () {
            $("#post").click(function () {
                $.ajax({
                    method: "post",
                    url: $("#url").val(),
                    data: $("#paras").val(),
                    success: function (result) {
                        $("#json").text(JSON.stringify(result));
                    }
                });
            });
        })
    </script>
}