body { 
    font-family: "microsoft yahei";
    color:#333;
}
a {
    cursor:pointer;
}
h4 {
    float:left;
}
.error-message {float:left;margin:10px 0 0 20px;
}
hr {margin:10px auto;}
.table_login{ line-height:3.166666666666667em; font-size:1.1em;}
.login_text{ width:70%; display:block; border:none; font-size:0.9166666666666667em; height:3.454545454545455em; line-height:3.454545454545455em; color:#999999;}
.table_border td{ border-bottom:1px solid #eeeeee;}
.identi_code{ position:relative;}
.identi_code a{line-height:2.166666666666667em; font-size:1em; display:inline-block; color:#ffffff; background:#01a704; position:absolute; right:0; top:0.5em; padding:0 1em;border-radius:3px; }
.protocol{  font-size:0.9166666666666667em; padding-bottom:0.5em;}
.protocol a{ color:#ed6a02;}
.button_sure{ background:#ed6a02; color:#ffffff; text-align:center; border-radius:3px; font-size:1.166666666666667em; line-height:2.5em; display:block; border:none; width:100%;}
.red {
    color:red;
}